* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #fff;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


.navbar {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: flex;
  align-items: center;
  width: 139px;
  height: 60px;
}

.nav-links a {
  margin: 0 16px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  background-color: #2f855a;
  display: inline-block;
}

.btn-primary {
  background: #30b868;
  color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-secondary {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.btn:hover {
  background-color: #276749;
  transform: translateY(-2px);
  transition: all 0.25s ease;
}

.btn-primary:hover {
  background: #249a56;
  box-shadow: 0 6px 16px rgba(48, 184, 104, 0.35);
  transform: translateY(-2px);
  transition: all 0.25s ease;
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
  border-color: #ffffff;
  transform: translateY(-2px);
  transition: all 0.25s ease;
}


.hero {
  position: relative;
  min-height: 80vh;
  background: url("./assets/cropped-hands-woman-writing-book\ 1.png")
    center/cover no-repeat;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 25, 49, 0.1));
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.badge {
  display: flex;
  background: #ffffff;
  color: #2f855a;
  font-weight: 600;
  border-radius: 1000px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6;
  padding: 8px 12px 8px 12px;
  margin-bottom: 20px;
}

.hero .btn {
  margin-top: 20px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #38a169;
}

.hero p {
  color: rgba(255, 255, 255, 1);
  width: 750px;
  font-family: Inter;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 8px;
}
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.problem-solution {
  padding: 100px 0;
  background: #ffffff;
  color: #0f172a;
}

.section-header {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.section-header h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}

.section-header p {
  color: #64748b;
  font-size: 15px;
}