* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #fff;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
.navbar {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: flex;
  align-items: center;
  width: 139px;
  height: 60px;
}

.nav-links a {
  margin: 0 16px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
